@model IEnumerable<cookboard.Models.PassosViewModel>
@{
    ViewData["Title"] = "getPassosAuxiliar";
    Layout = "~/Views/Shared/_LayoutPassos.cshtml";

}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            @foreach (var item in Model)
            {
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#@Html.DisplayFor(modelItem => item.NumPasso)">Passo @Html.DisplayFor(modelItem => item.NumPasso)</a>
                </li>
            }
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    @foreach (var item in Model)
    {
        if (item.Type == "ultimo")
        {
            if (item.Auxiliar != -1)
            {
                if (item.IdReceitaInit != -1)
                {
                    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="@Html.DisplayFor(modelItem => item.NumPasso)">
                        <div class="w-100">
                            <h6>@Html.DisplayFor(modelItem => item.Passo)</h6>
                        </div>
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Anterior" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoAnt)'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Terminar" onclick="location.href='@Url.Action("getPassos", "Receitas", new { idReceita = item.IdReceitaInit })'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Ajuda" onclick="location.href='@Url.Action("getPassos", "Receitas", new { idReceita = item.Auxiliar })'" ;" />
                    </section>
                }
                else
                {
                    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="@Html.DisplayFor(modelItem => item.NumPasso)">
                        <div class="w-100">
                            <h6>@Html.DisplayFor(modelItem => item.Passo)</h6>
                        </div>
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Anterior" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoAnt)'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Terminar" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoProx)'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Ajuda" onclick="location.href='@Url.Action("getPassos", "Receitas", new { idReceita = item.Auxiliar })'" ;" />
                    </section>
                }
            }
            else
            {
                if (item.IdReceitaInit != -1)
                {
                    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="@Html.DisplayFor(modelItem => item.NumPasso)">
                        <div class="w-100">
                            <h6>@Html.DisplayFor(modelItem => item.Passo)</h6>
                        </div>
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Anterior" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoAnt)'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Terminar" onclick="location.href='@Url.Action("getPassos", "Receitas", new { idReceita = item.IdReceitaInit })'" ;" />
                    </section>
                }
                else
                {
                    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="@Html.DisplayFor(modelItem => item.NumPasso)">
                        <div class="w-100">
                            <h6>@Html.DisplayFor(modelItem => item.Passo)</h6>
                        </div>
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Anterior" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoAnt)'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Terminar" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoProx)'" ;" />
                    </section>
                }
            }
        }
        else
        {
            if (item.Type == "primeiro")
            {
                if (item.Auxiliar != -1)
                {
                    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="@Html.DisplayFor(modelItem => item.NumPasso)">
                        <div class="w-100">
                            <h6>@Html.DisplayFor(modelItem => item.Passo)</h6>
                        </div>
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Proximo" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoProx)'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Ajuda" onclick="location.href='@Url.Action("getPassos","Receitas", new { idReceita = item.Auxiliar })'" ;" />
                    </section>
                }
                else
                {
                    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="@Html.DisplayFor(modelItem => item.NumPasso)">
                        <div class="w-100">
                            <h6>@Html.DisplayFor(modelItem => item.Passo)</h6>
                        </div>
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Proximo" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoProx)'" ;" />
                    </section>
                }
            }
            else
            {
                if (item.Auxiliar != -1)
                {
                    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="@Html.DisplayFor(modelItem => item.NumPasso)">
                        <div class="w-100">
                            <h6>@Html.DisplayFor(modelItem => item.Passo)</h6>
                        </div>
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Anterior" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoAnt)'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Proximo" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoProx)'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Ajuda" onclick="location.href='@Url.Action("getPassos","Receitas", new { idReceita = item.Auxiliar, idReceitaInit = item.IdReceita })'" ;" />
                    </section>
                }
                else
                {
                    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="@Html.DisplayFor(modelItem => item.NumPasso)">
                        <div class="w-100">
                            <h6>@Html.DisplayFor(modelItem => item.Passo)</h6>
                        </div>
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Anterior" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoAnt)'" ;" />
                        <input type="button" class="btn btn-light" style="float:right; margin-top:50%;" value="Proximo" onclick="location.href='#@Html.DisplayFor(modelItem => item.NumPassoProx)'" ;" />
                    </section>
                }
            }
        }

        <hr class="m-0">
    }

</div>
